<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Variable" value="0.5"/>
    <add key="Trigger" value="2,148.25"/>
    <add key="GridLot" value="1000"/>
    <add key="InitialGridProfit" value="0.02"/>
    <add key="StartingCash" value="1000000"/>
    <add key="StartingStocksPercent" value="0.80"/>
    <add key="TriggerDate" value="2020-06-08"/>
    <add key="ReInvestGridProfit" value="true"/>
    <add key="GridType" value="A"/>
  </appSettings>
</configuration>